{%extends 'admins/adminbase.html'%}
{%load static%}

{%block contents%}
<div class="hero-wrap js-fullheight img" style="background-image: url({%static 'images/bg_1.jpg'%});">
		<div class="overlay"></div>
		<div class="container">
			<div class="row d-md-flex no-gutters slider-text js-fullheight align-items-center justify-content-center">
				<div class="col-md-10 d-flex align-items-center ftco-animate">
					<div class="text w-100 text-center">
						<span class="subheading mb-2">Neural networks are mainly used for classification,prediction and recognition!</span>
						<h1 class="mb-4">Content Analysis of Messages in Social Networks, Identification of Suicidal Types</h1>
						<p class="mb-4">This article describes content analysis of text with to identify suicidal tendencies and types. This article also describes how to make a sentence classifier that uses a neural network created using various libraries created for machine learning in the Python programming language. Attention is paid to the problem of teenage suicide and «groups of death» in social networks, the search for ways to stop the propaganda of suicide among minors. Analysis of existing information about so-called «groups of death» and its distribution on the Internet.</p>
					</div>
				</div>
			</div>
		</div>
	</div>


{%endblock%}
